<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
    <div class="w-100 h-screen bg-gray-300">
      <div class="container mx-auto py-10">
        <h1 class="text-center text-3xl font-bold text-blue">All Product</h1>
      </div>
    </div>
  </body>
</html>
